@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: sans-serif,sans-serif;
    margin: 0;
    background-color: #040e0e;
}
a {  /* TEXT NAVBAR */
    max-width: 1200px;
    text-decoration: none;
    color: #ffffff; /* Light link color */
    font-weight: bold;
    margin-right: 40px;
    padding-right:60px ;
}
a:hover{
    color: #8da988;
}


.container2 {  /* TEXT BERGABUNGLAH BERSAMA KOMUNITAS KAMI */
    margin: 0 auto;
    padding: 0 20px;
    color: #000000;
}

/* Desain Header (Navbar) */
header {
    background-color: #081B1C; 
    padding: 0 20px;

}

/* Posisi Header (Navbar) */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* Desain logo Header (Navbar) */
header .logo img {
    height: 70px;
    align-items: end;
    margin-left: 30px;
    padding-left: 60px;
}
/* Desain list (home singup dan login) */
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Spasi text navbar (home signup dan login */
header nav li {
    margin-left: 30px;
    padding-right: 0px;

}

.main-content {
    background-color: #ffffff;
    width: 70%;
    margin: 30px auto;
    border-radius: 10px;
    overflow: hidden;
    color: #333;
}

.image-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.content {
    padding: 30px;
}

.title-section {
    position: absolute; /* Posisi absolut di dalam kontainer gambar */
    bottom: 330px;       /* Jarak dari bawah gambar */
    right: 980px;        /* Jarak dari kanan gambar */
    color: #fff; /* Warna teks putih agar kontras */
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 15px;
    border-radius: 5px;
}

h1 {
    font-size: 36px;
    margin: 0;
    color: #ffffff;
}

.difficulty {
    color: #fff;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.location {
    color: #ffffff;
    font-style: italic;
    margin: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #8eb591;
    padding: 15px 0;
    margin: 20px 0;
    border-radius: 10px;
    position: relative; /* Mengaktifkan posisi relatif */
    top: -15px;         /* Menggerakkan elemen 15px ke atas */
    border-radius: 10px;
}

.info-item {
    width: 33%;
}

.info-item h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.info-item p {
    margin: 5px 0 0;
    font-size: 20px;
}

.description {
    margin-top: 20px;
    line-height: 1.7;
    text-align: justify;
}

.peta_bromo {
    position: relative; /* Mengatur posisi elemen */
    top: 20px; /* Atur jarak dari atas */
    left: 30px; /* Atur jarak dari kiri */
    display: inline-block;
    justify-content: center;
    height: 400px; /* Atur tinggi */
    width: 500px; /* Atur lebar */
    border-radius: 0 30px 30px 0;
}

.peta_frame {
    width: 100%; /* Agar sesuai dengan container */
    height: 100%; /* Agar sesuai dengan container */
    border: 0;
    border-radius: 15px;
}

.container_cuaca{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #081B1C;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Mengatur posisi elemen */
    bottom: 115px; /* Atur jarak dari atas */
    left: 60px; /* Atur jarak dari kiri */
    display: inline-block;
}
.weather-info h2 {
    font-size: 24px;
    color: #faf8f8;
    margin-bottom: 5px;
}

.weather-info img.weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: -20x;
}

.temperature {
    font-size: 22px;
    margin-bottom: 10px;
    color: #ffffff;
}

.description_con {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
}

.weather-info p {
    font-size: 16px;
    margin: 5px 0;
    color: #ffffff;
}

.weather-info strong {
    color: #ffffff;
}


